         body{
         padding-top: 8%;
         padding-left: 20%;
         font-family: 'Antic';
         }
         .jumbotron{
         font-family: 'Antic';
         width:85%;
         padding-top: 2%;
         }
         .navbar-inverse .navbar-nav>li>a{
         color:black;
         }
         .side-nav {
         position: fixed;
         top: 60px;
         left: 225px;
         width: 20%;
         margin-left: -225px;
         border: none;
         border-radius: 0;
         border-top: 1px rgba(0,0,0,.5) solid;
         overflow-y: auto;
         background-color: #C0C0C0;
         opacity:0.7;
         bottom: 0;
         overflow-x: hidden;
         padding-bottom: 40px;
         }
         .side-nav li a{
         width: 225px;
         border-bottom: 1px rgba(0,0,0,.3) solid;
         }
         .side-nav li a:hover,
         .side-nav li a:focus {
         outline: none;
         background-color: #1a242f !important;
         }
         .side-nav>li>ul {
         padding: 0;
         color:black;
         border-bottom: 1px rgba(0,0,0,.3) solid;
         }
         .this
         {
         font-family: 'Antic';
         color:black;
         font-size: 17px;
         }
         .container
         {
         width:100%;
         }
         .jumbotron{
         font-family: 'Antic';
         width:100%;
         float:right;
         
         padding: 2%;
         }
         .top-nav>.open>.dropdown-menu {
         float: left;
         position: absolute;
         margin-top: 0;
         /*border: 1px solid rgba(0,0,0,.15);*/
         border-top-left-radius: 0;
         border-top-right-radius: 0;
         background-color: #fff;
         -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
         box-shadow: 0 6px 12px rgba(0,0,0,.175);
         }
         .top-nav {
         padding: 0 15px;
         max-height: 14%;
         }
         .top-nav>li {
         display: inline-block;
         float: left;
         }
         button{
         padding-left: 10px;
         padding-right: 10px;
         }
         .top-nav>li>a {
         padding-top: 20px;
         padding-bottom: 20px;
         line-height: 20px;
         color: #FFFFFF;
         }
         .top-nav>li>a:hover,
         .top-nav>li>a:focus,
         .top-nav>.open>a,
         .top-nav>.open>a:hover,
         .top-nav>.open>a:focus {
         color: #FFFFFF;
         background-color: black;
         opacity:0.7;
         }
         img{
         
         width:100%;
         border:1px solid grey;
         }
         