
body{
         padding-top: 8%;
         padding-left: 20%;
         font-family: 'Antic'
         }
         .container
         {  
         width:100%;
         }
         .contentspan{
            float:left; 
            max-width: 66%;
         }
         .imagespan{
            float:left; min-width: 33%; 
            padding-top: 3%;
            padding-left: 3%;
         }
         .jumbotron{
         font-family: 'Antic';
         width:100%;
         padding-top: 2%;
         padding-bottom: 1%;
         float:right;
         }
.navbar-inverse .navbar-nav>li>a{
color:black;
}
.side-nav {
position: fixed;
top: 60px;
left: 30%;
width: 20%;
margin-left: -30%;
border: none;
border-radius: 0;
overflow-y: auto;
background-color: #C0C0C0;
opacity:0.7;
bottom: 0;
overflow-x: hidden;

}
.side-nav li a{
width: 600px;
border-bottom: 1px rgba(0,0,0,.3) solid;
}
.side-nav li a:hover,
.side-nav li a:focus {
outline: none;
background-color: #1a242f !important;
}
.side-nav>li>ul {
padding: 0;
color:black;
border-bottom: 1px rgba(0,0,0,.3) solid;
}
.this
{
font-family: 'Antic';
color:black;
font-size: 120%;
}
.top-nav {
padding-left: 2%;
padding-right: 2%;
height: 14%;
}
.top-nav>li {
display: inline-block;
float: left;
}
.top-nav>li>a {
padding-top: 25%;
padding-bottom: 25%;
line-height: 30%;
color: #FFFFFF;
}
.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
color: #FFFFFF;
background-color: black;
opacity:0.7;
}


img{
height:100%;
width:100%;
border:1px solid grey;
}
li.active{
background-color:black;
border:1px solid black;
}