       body{
         padding-top: 8%;
         padding-left: 20%;
         font-family: 'Antic';
         }
         .jumbotron{
         font-family: 'Antic';
         width:85%;
         padding-top: 2%;
         }
         .navbar-inverse .navbar-nav>li>a{
         color:black;
         }
         .side-nav {
         position: fixed;
         top: 60px;
         left: 30%;
         width: 20%;
         margin-left: -30%;
      
         border-top: 1px rgba(0,0,0,.5) solid;
         overflow-y: auto;
         background-color: #C0C0C0;
         opacity:0.7;
         bottom: 0;
         overflow-x: hidden;
         
         }
         .side-nav li a{
         width: 30%;
         border-bottom: 1px rgba(0,0,0,.3) solid;
         }
         .side-nav li a:hover,
         .side-nav li a:focus {
         outline: none;
         background-color: #1a242f !important;
         }
         .side-nav>li>ul {
         padding: 0;
         color:black;
         border-bottom: 1px rgba(0,0,0,.3) solid;
         }
         .this
         {
         font-family: 'Antic';
         color:black;
         font-size: 17px;
         }
         .container
         {
         width:100%;
         }
         .jumbotron{
         font-family: 'Antic';
         width:100%;
         padding-top: 2%;
         float:right;
         }
         .top-nav {
         padding: 0% 3%;
         max-height: 14%;
         }
         .top-nav>li {
         display: inline-block;
         float: left;
         }
         button{
         padding-left: 2%;
         padding-right: 2%;
         }
         .top-nav>li>a {
         padding-top: 2%;
         padding-bottom: 2%;
         line-height: 2%;
         color: #FFFFFF;
         }
         .top-nav>li>a:hover,
         .top-nav>li>a:focus,
         .top-nav>.open>a,
         .top-nav>.open>a:hover,
         .top-nav>.open>a:focus {
         color: #FFFFFF;
         background-color: black;
         opacity:0.7;
         }
         li.active{
         background-color:black;
         border:1px solid black;
         }
         img{
            border:1px solid grey;
         }