<html lang="en">
   <head>
      <title>Instant Feed</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
      <link href='https://fonts.googleapis.com/css?family=Antic' rel='stylesheet'>
      <link rel="stylesheet" type="text/css" href="/static/signup.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
      <style>
      img{
         max-height: 40%;
      }
      </style>
    
   </head>
   <body>
 <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
         <div class="navbar-header">   
            <a href='/'><span class="navbar-brand" style="font-family:'Antic';font-size: 30px;color:white">Instant Feed</span></a>
         </div>
         <ul class="nav navbar-right top-nav">
         <li class="search">
                <div class="col-sm-3 col-md-10">
                  <form class="navbar-form" method="post" role="search" action = "/searchResults">
                      <div class="input-group">
                          <div><input type="text" class="form-control" placeholder="Search" name="search" id="search"></div>
                          <div class="input-group-btn">
                              <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                          </div>
                      </div>
                  </form>
                </div>
             </li>
            {% if message: %}
            <li ><a href="/homepage" ><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{message}} <b class="fa fa-angle-down"></b></a>
               <ul class="dropdown-menu">
               <li><a href="/changeprofile"><i class="glyphicon glyphicon-user"></i> Change Profile</a></li>
                  <li><a href="/signout"><i class="fa fa-fw fa-power-off"></i> Logout</a></li>
               </ul>
            </li>
            {% else %}
            <li><a href="/" ><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/signin" ><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {% endif %}    
         </ul>
         <ul class="nav navbar-nav side-nav navbar-light bg-light">
            <li class="this"><a href="/sports"><span class="glyphicon glyphicon-knight" ></span> Sports</a></li>
            <li class="this"><a href="/tech"><span class="glyphicon glyphicon-phone"></span> Technology</a></li>
            <li class="this"><a href="/ent"><span class="glyphicon glyphicon-music"></span> Entertainment</a></li>
            <li class="this"><a href="/world"><span class="glyphicon glyphicon-globe"></span> World</a></li>
             {% if isAdmin == '1': %}
            <li class="this"><a href="/admin"><span class="glyphicon glyphicon-edit" ></span> Add an Article</a></li>
            <li class="this active"><a href="/myarticles"><span class="glyphicon glyphicon-check" ></span> My Articles</a></li>
            {% endif %}
         </ul>
      </nav>
      <h2>
         <center>MY ARTICLES</center>
      </h2>
      <hr>
      {% for i in l%}
      <div class="container">
         <div class="jumbotron" >
            <div><div class="col-md-8">
               <h3>
                  {{i[2]}} 
               </h3>
               <h4> category : {{i[1]}}</h4>
               <p style="font-size: 12px"> 
                
                  {{i[5]}} </p>
                      <a href="read?title={{i[2]}}">
                  <h5>Read Full Article >></h5>
               </a>
            </div>
            <div class="col-md-4">
            <br>
               <img src="{{i[4]}}" alt="image" >
            </div></div><br>
            <form class="form-horizontal" method="post" action="/delete?title={{i[2]}}">
            <div class="form-group col-md-12">
                  <input type="submit" class="btn btn-primary btn-lg btn-block login-button" style="width:30%" value="Delete">
            </div>
         </div>
      </div>
      {% endfor %}

      
      <footer class="footer">
         <p>
         <center>&copy; Instant Feed 2018</center>
         </p>
      </footer>
   </body>
</html>