<html lang="en">
   <head>
      <title>Instant Feed</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
      <link href='https://fonts.googleapis.com/css?family=Antic' rel='stylesheet'>
      <link rel="stylesheet" type="text/css" href="/static/signup.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <style>
         .contentspan{
            float:left; 
            width: 66%;
         }
         .imagespan{
            float:left; min-width: 33%; 
           
            padding-left: 3%;

         }
         img{
            max-height: 40%;
         }
         h3{
            color:black;
         }
         </style>
   
   </head>
   <body>
     <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
         <div class="navbar-header">   
            <a href='/'><span class="navbar-brand" style="font-family:'Antic';font-size: 30px;color:white">Instant Feed</span></a>
         </div>
         <ul class="nav navbar-right top-nav">
         <li class="search">
                <div class="col-sm-3 col-md-10">
                  <form class="navbar-form" method="post" role="search" action = "/searchResults">
                      <div class="input-group">
                          <div><input type="text" class="form-control" placeholder="Search" name="search" id="search"></div>
                          <div class="input-group-btn">
                              <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                          </div>
                      </div>
                  </form>
                </div>
             </li>
            {% if username: %}
            <li ><a href="/homepage" ><span class="glyphicon glyphicon-home active"></span> Home</a></li>
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{username}} <b class="fa fa-angle-down"></b></a>
               <ul class="dropdown-menu">
               <li><a href="/changeprofile"><i class="glyphicon glyphicon-user"></i> Change Profile</a></li>
                  <li><a href="/signout"><i class="fa fa-fw fa-power-off"></i> Logout</a></li>
               </ul>
            </li>
            {% else %}
            <li><a href="/" ><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/signin" ><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {% endif %}    
         </ul>
         <ul class="nav navbar-nav side-nav navbar-light bg-light">
            <li class="this"><a href="/sports"><span class="glyphicon glyphicon-knight" ></span> Sports</a></li>
            <li class="this"><a href="/tech"><span class="glyphicon glyphicon-phone"></span> Technology</a></li>
            <li class="this"><a href="/ent"><span class="glyphicon glyphicon-music"></span> Entertainment</a></li>
            <li class="this"><a href="/world"><span class="glyphicon glyphicon-globe"></span> World</a></li>
             {% if isAdmin == '1': %}
            <li class="this"><a href="/admin"><span class="glyphicon glyphicon-edit" ></span> Add an Article</a></li>
            <li class="this"><a href="/myarticles"><span class="glyphicon glyphicon-check" ></span>My Articles</a></li>
            {% endif %}
         </ul>
      </nav>
      {% if message: %}
      <div class="container">
         <div class="jumbotron" style="height:15%">
            <p>{{message}}</p>
         </div>
      </div>
      {% elif logged_in == False: %}
      <div class="container">
         <div class="jumbotron" >
            <h2>Personalised News Made Easy</h2>
            <h3>Haven't joined yet?     <a class="btn btn-lg btn-success" href="/signup">Join Today</a></h3>
         </div>
      </div>
      {% endif %}
      <hr>
      <h2>
         <center>SPORTS</center>
      </h2>
      <hr>
      <div class="container">
      <div class="jumbotron" style="padding:2%">
         <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
               <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
               <li data-target="#myCarousel" data-slide-to="1"></li>
               <li data-target="#myCarousel" data-slide-to="2"></li>
               <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" style="height:35%">
               {% for i in range(1,5)%}
               {% if i==1: %}
               <div class="item active">
                  {% else %}
                  <div class="item">
                     {% endif%}
                     <span class="contentspan">
                        <h3>
                           {{sports[i][2]}} 
                        </h3>
                        <a href="{{sports[i][1]}}">
                           <h5>Read Full Article >></h5>
                        </a>
                        <br><br>
                     </span>
                     <span class="imagespan">
                        <img src="{{sports[i][0]}}" alt="sportsnews" >
                     </span>
                  </div>
                  {% endfor %}
               </div>
            </div>
         </div>
      </div>
      <hr>
      <h2>
         <center>TECHNOLOGY</center>
      </h2>
      <hr>
      <div class="container">
      <div class="jumbotron" style="padding:2%">
         <div id="myCarousel4" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
               <li data-target="#myCarousel4" data-slide-to="0" class="active"></li>
               <li data-target="#myCarousel4" data-slide-to="1"></li>
               <li data-target="#myCarousel4" data-slide-to="2"></li>
               <li data-target="#myCarousel4" data-slide-to="3"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" style="height:35%">
               {% for i in range(1,5)%}
               {% if i==1: %}
               <div class="item active">
                  {% else %}
                  <div class="item">
                     {% endif%}
                     <span class="contentspan">
                        <h3>
                           {{tech[i][2]}} 
                        </h3>
                        <a href="{{tech[i][1]}}">
                           <h5>Read Full Article >></h5>
                        </a>
                        <br><br>
                     </span>
                     <span class="imagespan">
                        <img src="{{tech[i][0]}}" alt="techsnews" >
                     </span>
                  </div>
                  {% endfor %}
               </div>
            </div>
         </div>
      </div>
      <hr>
      <h2>
         <center>ENTERTAINMENT</center>
      </h2>
      <hr>
      <div class="container">
      <div class="jumbotron" style="padding:2%">
         <div id="myCarousel2" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
               <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
               <li data-target="#myCarousel2" data-slide-to="1"></li>
               <li data-target="#myCarousel2" data-slide-to="2"></li>
               <li data-target="#myCarousel2" data-slide-to="3"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" style="height:35%">
               {% for i in range(1,5)%}
               {% if i==1: %}
               <div class="item active">
                  {% else %}
                  <div class="item">
                     {% endif%}
                     <span class="contentspan">
                        <h3>
                           {{entertainment[i][2]}} 
                        </h3>
                        <a href="{{entertainment[i][1]}}">
                           <h5>Read Full Article >></h5>
                        </a>
                        <br><br>
                     </span>
                     <span class="imagespan">
                        <img src="{{entertainment[i][0]}}" alt="entnews" >
                     </span>
                  </div>
                  {% endfor %}
               </div>
            </div>
         </div>
      </div>
      <hr>
      <h2>
         <center>WORLD</center>
      </h2>
      <hr>
      <div class="container">
      <div class="jumbotron" style="padding:2%">
         <div id="myCarousel3" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
               <li data-target="#myCarousel3" data-slide-to="0" class="active"></li>
               <li data-target="#myCarousel3" data-slide-to="1"></li>
               <li data-target="#myCarousel3" data-slide-to="2"></li>
               <li data-target="#myCarousel3" data-slide-to="3"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" style="height:35%">
               {% for i in range(1,5)%}
               {% if i==1: %}
               <div class="item active">
                  {% else %}
                  <div class="item">
                     {% endif%}
                     <span class="contentspan">
                        <h3>
                           {{world[i][2]}} 
                        </h3>
                        <a href="{{world[i][1]}}">
                           <h5>Read Full Article >></h5>
                        </a>
                        <br><br>
                     </span>
                     <span class="imagespan">
                        <img src="{{world[i][0]}}" alt="worldnews" >
                     </span>
                  </div>
                  {% endfor %}
               </div>
            </div>
         </div>
      </div>
      <footer class="footer">
         <p>
         <center>&copy; Instant Feed 2018</center>
         </p>
      </footer>
   </body>
</html>