<html lang="en">
   <head>
      <title>Instant Feed</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="/static/signup.css">
      <link href='https://fonts.googleapis.com/css?family=Antic' rel='stylesheet'>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
          <style>
         .contentspan{
            float:left; 
            width: 66%;
         }
         .imagespan{
            float:left; min-width: 33%; 
            padding-top: 3%;
            padding-left: 3%;
         }
           img{
            max-height: 40%;
         }
         </style>
   </head>
   <body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
         <div class="navbar-header">   
            <a href='/'><span class="navbar-brand" style="font-family:'Antic';font-size: 30px;color:white">Instant Feed</span></a>
         </div>
         <ul class="nav navbar-right top-nav">
         <li class="search">
                <div class="col-sm-3 col-md-10">
                  <form class="navbar-form" method="post" role="search" action = "/searchResults">
                      <div class="input-group">
                          <div><input type="text" class="form-control" placeholder="Search" name="search" id="search"></div>
                          <div class="input-group-btn">
                              <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                          </div>
                      </div>
                  </form>
                </div>
             </li>
            {% if message: %}
            <li ><a href="/homepage" ><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{message}} <b class="fa fa-angle-down"></b></a>
               <ul class="dropdown-menu">
               <li><a href="/changeprofile"><i class="glyphicon glyphicon-user"></i> Change Profile</a></li>
                  <li><a href="/signout"><i class="fa fa-fw fa-power-off"></i> Logout</a></li>
               </ul>
            </li>
            {% else %}
            <li><a href="/" ><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/signin" ><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {% endif %}    
         </ul>
         <ul class="nav navbar-nav side-nav navbar-light bg-light">
            <li class="this"><a href="/sports"><span class="glyphicon glyphicon-knight" ></span> Sports</a></li>
            <li class="this"><a href="/tech"><span class="glyphicon glyphicon-phone"></span> Technology</a></li>
            <li class="this"><a href="/ent"><span class="glyphicon glyphicon-music"></span> Entertainment</a></li>
            <li class="this"><a href="/world"><span class="glyphicon glyphicon-globe"></span> World</a></li>
             {% if isAdmin == '1': %}
            <li class="this"><a href="/admin"><span class="glyphicon glyphicon-edit" ></span> Add an Article</a></li>
            <li class="this"><a href="/myarticles"><span class="glyphicon glyphicon-check" ></span> My Articles</a></li>
            {% endif %}
         </ul>
      </nav>
      <h2>
         <center>SEARCH RESULTS for "{{word}}"</center>
      </h2>
      <hr>

      {% if mess: %}

      <div class="container">
         <div class="jumbotron">
         <h4>{{mess}}</h4>
         </div>
         </div>
      {% else %} 
      
      {% for i in search %}
      
      <div class="container">
         <div class="jumbotron">
         
            <span class="contentspan">
               <h3>
                  {{i[2]}} 
               </h3>
               <p style="font-size: 12px"> 
                {% if i[5]: %}
                  <b>{{i[5]}} </b><br><br> 
                  {% endif %}
                  {{i[3]}} </p>
               
               <a href="{{i[1]}}">
                  <h5>Read Full Article >></h5>
               </a>
              
            </span>
            <span class="imagespan">
            <br>
               <img src="{{i[0]}}" alt="sportsnews" >
            </span>
            
            
            
         </div>
      </div>
      {% endfor %}


          {% for i in selfarts %}
      
          <div class="container">
         <div class="jumbotron" >
            <span class="contentspan">
               <h3>
                  {{i[2]}} 
               </h3>
              
               <p style="font-size: 12px"> 
                
                  {{i[5]}} </p>
                     <a href="read?title={{i[2]}}">
                  <h5>Read Full Article >></h5>
               
            </span>
            <span class="imagespan">
         
               <img src="{{i[4]}}" alt="image" >
            </span>
         </div>
      </div>
      {% endfor %}


      {% endif %}
      
      <footer class="footer">
         <p>
         <center>&copy; Instant Feed 2018</center>
         </p>
      </footer>
   </body>
</html>