<html lang="en">
   <head>
      <title>Instant Feed</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="/static/signin">
      <link href='https://fonts.googleapis.com/css?family=Antic' rel='stylesheet'>
      <link rel="stylesheet" href="/static/index.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
      
   </head>
   <body>
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
         <div class="navbar-header">   
            <a href='/'><span class="navbar-brand" style="font-family:'Antic';font-size: 30px;color:white">Instant Feed</span></a>
         </div>
         <ul class="nav navbar-right top-nav">
         <li class="search">
                <div class="col-sm-3 col-md-10">
                  <form class="navbar-form" method="post" role="search" action = "/searchResults">
                      <div class="input-group">
                          <div><input type="text" class="form-control" placeholder="Search" name="search" id="search"></div>
                          <div class="input-group-btn">
                              <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                          </div>
                      </div>
                  </form>
                </div>
             </li>
            <li ><a href="/" ><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a href="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li class="active"><a href="signin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
         </ul>
         <ul class="nav navbar-nav side-nav navbar-light bg-light">
            <li class="this"><a href="/sports"><span class="glyphicon glyphicon-knight" ></span> Sports</a></li>
            <li class="this"><a href="/tech"><span class="glyphicon glyphicon-phone"></span> Technology</a></li>
            <li class="this"><a href="/ent"><span class="glyphicon glyphicon-music"></span> Entertainment</a></li>
            <li class="this"><a href="/world"><span class="glyphicon glyphicon-globe"></span> World</a></li>
         </ul>
      </nav>

      {% if message: %}
      <div class="container">
         <div class="jumbotron" style="height:15%">
            <p>{{message}}</p>
         </div>
      </div>
      {% endif %}
      <div class="container">
         <div class="jumbotron">
            <form method="post" action="/signin">
               <br><br><br><br>
               <center>
                  <h4><label for="uname"><b>Username</b></label>&nbsp;&nbsp;&nbsp;&nbsp;
                     <input type="text" placeholder="Enter Username" name="uname" id = "uname" required>
                  </h4>
                  <h4><label for="psw"><b>Password</b></label>&nbsp;&nbsp;&nbsp;&nbsp;
                     <input type="password" placeholder="Enter Password" name="psw" id = "psw" required>
                  </h4>
                  <label class="remember">
                  <input type="checkbox" checked="checked" name="remember"> Remember me
                  </label><br><br>
                  <div class="form-group ">
                     <input type="submit" class="btn btn-primary btn-lg btn-block login-button" style="width:30%">
                  </div>
                  <br>
                  <span class="psw"><a href="/">Forgot password?</a></span>
               </center>
            </form>
         </div>
      </div>
      <footer class="footer">
         <p>
         <center>&copy; Instant Feed 2018</center>
         </p>
      </footer>
   </body>
</html>